<footer class="text-gray-600 body-font">
  <div class="bg-gray-100">
    <div
      class="container mx-auto py-4 px-5 flex flex-wrap flex-col sm:flex-row my-auto"
    >
      <img src="../../assets/images/starwarslogo2grey.png" class="max-h-10" />
      <p class="text-gray-500 text-md text-center my-auto pl-2 sm:text-left">
        | The Star Wars Planet Wiki |
        <a
          href="https://www.linkedin.com/in/jringsakabe/"
          rel="noopener noreferrer"
          class="text-gray-600"
          target="_blank"
          >@j-art-fox</a
        >
      </p>
    </div>
  </div>
</footer>
