<footer class="sticky top-[100vh]">
  <div class="bg-gradient">
    <div
      class="container mx-auto py-4 px-4 flex justify-center md:justify-start flex-row my-auto"
    >
      <a href="/"
        ><img
          src="assets/images/starwarslogo2.png"
          class="max-h-20 hover:brightness-125 ease-linear duration-100"
      /></a>
      <p class="text-yellow-400 text-md text-center my-auto pl-2 sm:text-left">
        | The Star Wars Planet Wiki |
      </p>

      <a
        href="https://www.linkedin.com/in/jringsakabe/"
        rel="noopener noreferrer"
        class="text-yellow-400 hidden pl-2 md:flex my-auto hover:brightness-125 ease-linear duration-100"
        target="_blank"
        >@j-art-fox</a
      >
    </div>
  </div>
</footer>
