<header class="body-font bg-gradient shadow-lg">
  <div
    class="container mx-auto flex flex-wrap p-2 flex-col md:flex-row items-center"
  >
    <a
      class="flex title-font md:scale-90 font-medium justify-center items-center mb-4 md:mb-0"
    >
      <span
        class="ml-3 text-xl sm:text-2xl md:text-3xl text-yellow-400 font-bungee drop-shadow-md ease-in-out duration-300 hover:scale-105 hover:text-yellow-100"
        >The Star Wars Planet Wiki</span
      >
    </a>
    <nav
      class="sm:mx-auto md:ml-auto md:mr-auto flex flex-wrap items-center text-base justify-center"
    >
      <ul>
        <li>
          <button
            id="dropdownDefault"
            data-dropdown-toggle="dropdown"
            type="button"
            (mouseenter)="showAndHide()"
            (mouseleave)="showAndHide()"
            (click)="showAndHide()"
            class="bg-zinc-50 p-2 sm:mb-0 hover:bg-opacity-50 rounded-md bg-opacity-20 mx-4 font-chakrapetch font-extrabold text-yellow-400 uppercase hover:text-yellow-100"
          >
            planet list
          </button>
          <!-- dropdown menu -->
          <div
            id="dropdown"
            (mouseleave)="showAndHide()"
            class="{{ dropDownClass }}"
          >
            <ul
              *ngFor="let planet of planets"
              class="py-1 text-md text-amber-300"
              aria-labelledby="dropdownDefault"
            >
              <li
                class="flex flex-row hover:brightness-125 ml-2 hover:translate-x-2 ease-in-out duration-200"
              >
                <img
                  class="h-10"
                  src="../../../assets/images/{{ planet.name }}.png"
                />
                <a
                  href="#{{ planet.name }}"
                  class="block hover:text-amber-200 hover:font-semibold py-2 px-4"
                  >{{ planet.name }}</a
                >
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </nav>
    <div
      (mouseenter)="changeLogo = true"
      (mouseleave)="changeLogo = false"
      class="hidden lg:inline-flex items-center border-0 px-3 focus:outline-none text-base mt-0"
    >
      <img
        *ngIf="!changeLogo"
        class="max-h-28 transition-all ease-in-out duration-150"
        src="../../../assets/images/starwarslogo2.png"
      />
      <img
        *ngIf="changeLogo"
        class="max-h-28 scale-105 transition-all ease-in-out duration-150"
        src="../../../assets/images/starwarslogo2light.png"
      />
    </div>
  </div>
</header>
