<header class="body-font bg-gradient shadow-lg">
  <!-- Site Title -->
  <div
    class="container mx-auto flex justify-between flex-wrap p-2 flex-col md:flex-row items-center"
  >
    <div
      class="flex title-font md:scale-90 font-medium justify-center items-center mb-4 md:mb-0"
    >
      <h1
        class="ml-3 text-xl sm:text-2xl md:text-3xl text-yellow-400 font-bungee drop-shadow-md ease-in-out duration-300 hover:scale-105 hover:text-yellow-100"
      >
        The Star Wars Planet Wiki
      </h1>
    </div>

    <!-- Star Wars Logo -->
    <div
      (mouseenter)="changeLogo = true"
      (mouseleave)="changeLogo = false"
      class="hidden lg:inline-flex items-center border-0 px-3 focus:outline-none text-base mt-0"
    >
      <img
        *ngIf="!changeLogo"
        class="max-h-28 transition-all ease-in-out duration-150"
        src="../../../assets/images/starwarslogo2.png"
      />
      <img
        *ngIf="changeLogo"
        class="max-h-28 scale-105 transition-all ease-in-out duration-150"
        src="../../../assets/images/starwarslogo2light.png"
      />
    </div>
  </div>
</header>
