<header class="text-gray-600 body-font bg-gradient shadow-lg">
  <div
    class="container mx-auto flex flex-wrap p-2 flex-col md:flex-row items-center"
  >
    <a
      class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0"
    >
      <span
        class="ml-3 text-3xl text-yellow-400 font-bungee shadow-md ease-in-out duration-300 hover:scale-105 hover:text-yellow-100"
        >The Star Wars Planet Wiki</span
      >
    </a>
    <nav
      class="md:ml-auto md:mr-auto flex flex-wrap items-center text-base justify-center"
    >
      <ul *ngFor="let i of navData">
        <li>
          <button
          id="dropdownDefault" data-dropdown-toggle="dropdown"
          type="button"
          (mouseenter)="showAndHide()"
          (click)="showAndHide()"
            class="mr-5 font-chakrapetch font-extrabold text-yellow-400 uppercase hover:text-yellow-100"
            >{{ i.text }}</button
          >
          <div id="dropdown" (mouseleave)="showAndHide()" class={{dropDownClass}}><ul class="py-1  text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDefault">
            <li>
              <a href="#" class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Dashboard</a>
            </li>
            <li>
              <a href="#" class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Settings</a>
            </li>
            <li>
              <a href="#" class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Earnings</a>
            </li>
            <li>
              <a href="#" class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Sign out</a>
            </li>
          </ul></div>
        </li>
      </ul>
    </nav>
    <div
      (mouseenter)="changeLogo = true"
      (mouseleave)="changeLogo = false"
      class="inline-flex items-center border-0 px-3 focus:outline-none text-base mt-4 md:mt-0"
    >
      <img
        *ngIf="!changeLogo"
        class="max-h-28 transition-all ease-in-out duration-150"
        src="../../../assets/images/starwarslogo2.png"
      />
      <img
        *ngIf="changeLogo"
        class="max-h-28 scale-105 transition-all ease-in-out duration-150"
        src="../../../assets/images/starwarslogo2light.png"
      />
    </div>
  </div>
</header>
