<div class="flex justify-center py-8">
  <div class="w-4/5 flex flex-wrap justify-between">
    <!-- Planet Tab -->
    <div class="w-full mt-20">
      <div class="px-4 mx-auto rounded-xl bg-zinc-800 max-w-min">
        <h1 class="text-teal-200 text-4xl py-2 font-bungee">{{ title }}</h1>
      </div>
    </div>
    <div id="card" class="lg:w-1/2 my-6 md:my-0 body-font">
      <div
        class="flex flex-wrap planet-bg md:scale-75 hover:backdrop-brightness-150 shadow-2xl rounded-xl m-2 px-2 sm:-m-4 md:space-y-0 space-y-6"
      >
        <!-- Planet Image, Name, and breif Description. -->
        <div
          id="{{ element.planetName }}"
          class="p-4 md:w-1/3 flex flex-col text-center my-auto items-center border-zinc-500 md:border-r-2"
          *ngIf="planetActivated"
        >
          <div
            class="max-h-48 inline-flex items-center justify-center rounded-full mb-5 flex-shrink-0"
          >
            <img
              class="hover:scale-110 ease-in-out hover:brightness-125 duration-200"
              src="../../../assets/images/{{ element.planetName }}.png"
            />
          </div>
          <div class="flex-grow">
            <h1
              class="text-amber-50 scale-105 text-lg uppercase font-chakrapetch font-bold mb-3"
            >
              {{ element.planetName }}
            </h1>
            <p class="leading-relaxed text-lg text-amber-100 font-chakrapetch">
              The planet known as {{ element.planetName }}, is a TERRAIN planet.
              It is typically CLIMATE.
            </p>
          </div>
        </div>
        <!-- Planet Details -->
        <div class="p-4 md:w-2/3 flex flex-col text-left my-auto">
          <!-- <app-planet-detail [planetDetailsData]="i"></app-planet-detail> -->
        </div>
      </div>
    </div>

    <!-- Planet Cards -->
    <div
      id="card"
      class="lg:w-1/2 my-6 md:my-0 body-font"
      *ngFor="let i of planetData"
    >
      <div
        class="flex flex-wrap planet-bg md:scale-75 hover:backdrop-brightness-150 shadow-2xl rounded-xl m-2 px-2 sm:-m-4 md:space-y-0 space-y-6"
      >
        <!-- Planet Image, Name, and breif Description. -->
        <div
          id="{{ i.name }}"
          class="p-4 md:w-1/3 flex flex-col text-center my-auto items-center border-zinc-500 md:border-r-2"
        >
          <div
            class="max-h-48 inline-flex items-center justify-center rounded-full mb-5 flex-shrink-0"
          >
            <img
              class="hover:scale-110 ease-in-out hover:brightness-125 duration-200"
              src="../../../assets/images/{{ i.name }}.png"
            />
          </div>
          <div class="flex-grow">
            <h1
              class="text-amber-50 scale-105 text-lg uppercase font-chakrapetch font-bold mb-3"
            >
              {{ i.name }}
            </h1>
            <p class="leading-relaxed text-lg text-amber-100 font-chakrapetch">
              The planet known as {{ i.name }}, is a {{ i.terrain }} planet. It
              is typically {{ i.climate }}.
            </p>
          </div>
        </div>

        <!-- Planet Details -->
        <div class="p-4 md:w-2/3 flex flex-col text-left my-auto">
          <app-planet-detail [planetDetailsData]="i"></app-planet-detail>
        </div>
      </div>
    </div>
  </div>
</div>
