<div class="flex justify-center py-8">
  <div class="w-2/3">
    <!-- Planet Tab -->
    <div class="px-4 rounded-t-xl max-w-min bg-zinc-800">
      <h1 class="text-teal-200 text-xl py-2 font-bungee">{{ title }}</h1>
    </div>

    <div class="planet-bg rounded-tr-xl rounded-b-xl">
      <ul class="flex flex-col" *ngFor="let i of planetData">
        <!-- Planet Name and Image -->
        <li class="text-yellow-300 pl-2 py-2 font-chakrapetch font-bold">
          <div class="">
            <img
              class="max-h-48"
              src="../../../assets/images/{{ i.name }}.png"
            />
            <h1 class="text-lg uppercase text-amber-50 p-2">{{ i.name }}</h1>
          </div>
          <!-- Planet Details -->
          <div class="pl-4">
            <app-planet-detail
              [planetDetailsData]="i"
              class="text-yellow-300"
            ></app-planet-detail>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
