<ul>
  <li>
    <span class="text-bold uppercase text-yellow-100">climate: </span>
    <span class="text-teal-100">{{ planetDetailsData.climate }}</span>
  </li>
  <li>
    <span class="text-bold uppercase text-yellow-200">terrain: </span>
    <span class="text-teal-100">{{ planetDetailsData.terrain }}</span>
  </li>
  <li>
    <span class="text-bold uppercase text-yellow-300">Orbital Period: </span>
    <span class="text-teal-100">{{ planetDetailsData.climate }}</span>
  </li>
  <li>
    <span class="text-bold uppercase text-yellow-400">diameter: </span>
    <span class="text-teal-100">{{ planetDetailsData.diameter }} units</span>
  </li>
  <li>
    <span class="text-bold uppercase text-yellow-500">rotation period: </span>
    <span class="text-teal-100"
      >{{ planetDetailsData.rotation_period }} EH</span
    >
  </li>
  <li>
    <span class="text-bold uppercase text-yellow-600">population: </span>
    <span class="text-teal-100">{{ planetDetailsData.population }}</span>
  </li>
  <li>
    <span class="text-bold uppercase text-yellow-700">films: </span>
    <span class="text-teal-100 text-sm">{{ planetDetailsData.films }}</span>
  </li>
</ul>
