<ul>
  <li class="my-2">
    <span
      class="font-extrabold font-chakrapetch ease-in-out hover:text-yellow-50 uppercase text-yellow-100"
      >climate:
    </span>
    <span class="text-teal-100 capitalize hover:text-teal-50">{{
      planetDetailsData.climate
    }}</span>
  </li>
  <li class="my-2">
    <span
      class="font-extrabold font-chakrapetch ease-in-out hover:text-yellow-100 uppercase text-yellow-200"
      >terrain:
    </span>
    <span class="text-teal-100 capitalize hover:text-teal-50">{{
      planetDetailsData.terrain
    }}</span>
  </li>
  <li class="my-2">
    <span
      class="font-extrabold font-chakrapetch ease-in-out hover:text-yellow-200 uppercase text-yellow-300"
      >Orbital Period:
    </span>
    <span class="text-teal-100 capitalize hover:text-teal-50"
      >{{ planetDetailsData.orbital_period }} EH</span
    >
  </li>
  <li class="my-2">
    <span
      class="font-extrabold font-chakrapetch ease-in-out hover:text-yellow-300 uppercase text-yellow-400"
      >diameter:
    </span>
    <span class="text-teal-100 capitalize hover:text-teal-50"
      >{{ planetDetailsData.diameter }} units</span
    >
  </li>
  <li class="my-2">
    <span
      class="font-extrabold font-chakrapetch ease-in-out hover:text-yellow-400 uppercase text-yellow-500"
      >rotation period:
    </span>
    <span class="text-teal-100 capitalize hover:text-teal-50"
      >{{ planetDetailsData.rotation_period }} EH</span
    >
  </li>
  <li class="my-2">
    <span
      class="font-extrabold font-chakrapetch ease-in-out hover:text-yellow-500 uppercase text-yellow-600"
      >population:
    </span>
    <span class="text-teal-100 capitalize hover:text-teal-50">{{
      planetDetailsData.population
    }}</span>
  </li>
  <li
    class="mt-2 text-teal-400 hover:scale-105 hover:translate-x-4 hover:text-teal-300"
  >
    <a href="#top"
      ><span class="font-extrabold font-chakrapetch uppercase"
        >- Return to Top -
      </span>
    </a>
  </li>
</ul>
