@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import '~primeng/resources/themes/lara-light-blue/theme.css';
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@600&display=swap');

@font-face {
    font-family: 'bungee', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Bungee&display=swap')
};

@font-face {
    font-family: 'Chakra Petch', sans-serif;
    src:url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300&display=swap')
};

@font-face {
    font-family: 'Chakra Petch', sans-serif;
    src:url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@600&display=swap')
};

.bg-gradient {
    background: linear-gradient(90deg, rgb(44, 4, 69) 0%, rgb(98, 1, 30) 50%),;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

.li-gradient {
    background: linear-gradient(90deg, rgb(39 39 42) 10%, rgb(76, 76, 82) 60%),;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

body {
background-color: rgb(214, 214, 214);
}